.outline * {
  /* outline: 1px solid black; */
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono"),
    url("./res/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

.hero {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  align-items: center;
  /* align-items: stretch; */

  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
}

.hero-left {
  text-align: center;

  h1 {
    font: 800 3.5rem "JetBrains Mono";
    margin: 1rem 0;
  }

  h2 {
    font: normal 1.8rem "JetBrains Mono";
    margin: 1rem 0;
  }

  .socials img {
    vertical-align: middle;
  }

  p {
    font: normal 1.0rem "JetBrains Mono";
    max-width: 30ch;
    margin: 1rem auto;
  }
}

.hero-right {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.avatar {
  width: 390px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}
